{
	auto_https off
	admin off

	frankenphp {
		worker /var/www/html/public/frankenphp-worker.php
	}
}

:8000 {
	root * /var/www/html/public

	encode zstd br gzip

	php_server {
		index frankenphp-worker.php
		try_files {path} frankenphp-worker.php
		resolve_root_symlink
	}
}
